app/
otros/__pycache__/
otros/Documentacion.html
otros/logo.jpg
task0/eval_true_targets_task0.csv
task0/predictions_task0.csv
task1/admin.ipynb
task1/eval_true_targets_task1.csv
task1/predictions_task1.csv