app/
otros/__pycache__/
otros/Documentacion.html
otros/logo.jpg
task0/eval_true_targets_task0.csv
task0/predictions_task0.csv
task0/.DS_Store
task1/admin.ipynb
task1/eval_true_targets_task1.csv
task1/predictions_task1.csv
.DS_Store
.gitignore
task2/eval_true_targets_task2.csv
task2/admin.ipynb
task2/predictions_task2.csv
task3/eval_true_targets_task3.csv